[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=QJournalctl (root)
Comment=Graphical User Interface for systemd's journalctl
Exec=pkexec /usr/bin/qjournalctl
Icon=qjournalctl
Terminal=false
StartupNotify=false
Categories=VIGIL;
Name=qjournalctl (root)
